$colorWhite: #f8f9fa;
$colorBlack: #313031;
$colorBlue: #5e8dcf;
$colorGreen: #75b798;
$colorOrange: #e5953e;
$colorGreyDark: rgba($colorBlack, 0.6);

$colorGrey: rgba($colorBlack, 0.2);

%boxShadow {
    box-shadow: 0.03rem 0.06rem 0.4rem $colorGrey;
}